
@media (max-width: 1536px) { 





}

@media (max-width: 1280px) {



}

@media (max-width: 1024px) { 




}

@media (max-width: 768px) { 




}


@media (max-width: 640px) { 
    
/* mobil header */
    .header{
        display: none;
    }

    body{
        padding-top: 90px;
    }



    body:has(#burger-menu:checked){
        .burger-menu {
            left: 0;
        }
    }

    .mobile-header{
        height: 90px;
        box-shadow: 0px 4px 8px 0px #C8C8C840;
        background-color: var(--colorWhite);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index:100;


    }

    .mobil-header__case{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .mobil-icon{
        padding-bottom: 6px;
    }

    .burger-menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: 101;
        background-color: var(--colorWhite);
        transition: all ease-in 200ms;
    }

    .mobil-btn{
        width: 90px;
        height: 90px;
        display: inline-flex;
        align-items: center;
        font-size: 20px;
    }

    .burger-menu .burger-menu__head{
        padding:0 0 0 20px;
        height: 90px;
        border-bottom: 1px solid rgb(224, 217, 217);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger-menu__body .navbar .nav-link{
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 20px;
        color: var(--colorBlack66);
    }

    .burger-menu__body .navbar .nav-link:not(:last-child){
        border-bottom: solid 1px rgb(218, 210, 210);
    }


    .lg-hidden{
        display: initial;
     }


    /* ###mobil header */

    .wrapper{
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }
     


   

    .hero-section{
        flex-direction: column;
        border-radius: 0;
        padding-top: 76px;
    }

    .hero-section > div {
        width: 100%;
    }

    .hero-section__left{
        padding-left: 0;
        border-radius:0;
    }

    .hero-section__title{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 18px;
    }

    .hero-section__figure{
        width: 260px;
        height: 306px;
        border-radius: 24px 24px 60px 24px;
    }

    .hero-section__right::after{
       display: none;
        
    }

    .hero-section__users{
        padding: 10px 12px;
        left: 8px;
        top: 210px;
        border-radius: 7px 7px 16px 7px;
    }

    .users__title{
        font-size: 10px;
        line-height:16px;
        width: 116px;
        margin-bottom: 5px;
    }

    .hero-section__users-case{
        width: 27px;
        height: 27px;
        border-width: 2px;
    }

    .users__container .hero-section__users-case:not(:first-child){
        margin-left: -10px;
    }

    .hero-section__followers .circle{
        width: 18px;
        height: 18px;
    }

    .follow-user{
        font-size: 7px;
    }
    
    .hero-section__followers{
        padding: 9px 7px 4px 7px;
        width: 77px;
        border-radius: 4px 4px 10px 4px;
    }
    .followers__numbers{
        font-size: 14px;
        line-height:21px;
    }

    .followers__title{
        font-size: 7px;
        line-height:10px;
        width: 62px;
    }


    /* Statistic */

    .statistic{
        flex-wrap: wrap;
    }

    .statistic__container{
        width: 100%;
    }

    .statistic__container .circle{
        width: 36px;
        height: 36px;
        
    }

    .statistic__icon{
        font-size: 16px;
    }

    .statistic__text{
        font-size: 14px;
        line-height:21px;
    }
/* -----Card------ */
    .card__title{
        font-weight:500;
        font-size: 16px;
        line-height:24px;
    }

    .card__head{
        align-items: flex-start;
    }

    .card__body{
        margin-top: 24px;
    }



    .card__head div a{
        font-weight:400;
        font-size: 14px;
        line-height:21px;
    }

    .category .card__body{
        display: flex;
        gap: 16px;
        overflow: hidden;
        overflow-x: auto;
        margin-top: 24px;
    }

    .category__item{
        width: 116px;
        height: 133px;
        flex-shrink: 0;
    }

    .category__photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .arrow-btn{
        display: none;
    }

    .category__inner{
         padding: 0;
         bottom: 0;
         top: 0;
         align-items: center;
         justify-content: center;
    }

    .category__inner .category__text{
        display: none;
    }

    .category__title{
        font-size: 16px;
        line-height: 24px;
    }
    
    .courses .card__body {
        grid-template-columns: repeat(2, 1fr);
    }

    .courses__inner{
        padding: 5px 13px;
        gap: 12px;
    }

    .courses__bottom{
        flex-direction: column;
        align-items: flex-start;
    }

    .courses__title{
        font-size: 14px;
        line-height: 20px;
    }

    .courses__value{
        font-size: 8px;
        line-height: 12px;
    }

    .courses__star{
        font-size: 8px;
    }

    .courses__info{
        font-size: 12px;
        line-height: 18px;
        gap: 4px;
    }

    .courses__price{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: 10px;
    }

    .courses .btn{
        padding: 4px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    /* About*/

    .about{
        flex-direction: column;
        gap: 32px;
    }

    .about__left .hero-section__figure{
        width: 342px;
        height: 403px;
    }

    .about__container{
        width: 130px;
        border-radius: 6px 6px 15px 6px;
        padding: 10px 7px 24px 7px;
        gap: 8px;
        bottom: 102px;
        right: -10px;
    }

    .about__right-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        width:317px;
        overflow-wrap: unset;
        margin-bottom: 24px;
    }

    .about-right__item span {
        font-weight: 500px;
        font-size: 14px;
        line-height: 21px;
    }

    .about-right__item i {       
        font-size: 14px;
        line-height: 21px;
    }

    /* Reviwes */

    .review{
        flex-direction: column;
        gap: 24px;
    }

    .review__left{
        display: flex;
        gap: 26px;
        align-items: flex-end;
    }

    .review__title{
        font-size: 24px;
        line-height: 36px;
        overflow-wrap: unset;
        width: 252px;
        margin-bottom: 0;
    }

    .review__arrow .w-h-60{
        width: 35px;
        height: 35px;
    }

    .review__arrow{
        margin-top: 0;
        gap: 28px;
    }

    .item__box{
        padding: 16px 14px 11px 14px;
    }


    .item__box-title, .item__box-subtitle, .item__box-text {
        font-size: 12px;
        line-height: 16px;
    }
    

    .item__box--head .photo__case{
        width: 28px;
        height: 28px;
    }

    .item__box--head {
        gap: 12px;
        margin-bottom: 12px;

    }

    .review__right .item__box {
        width: 183px;
        flex-shrink: 0;

    }


    .review__right {
        display: flex;
        gap: 16px;
        padding: 20px 20px 20px;
        margin-right: 20px;
    }    
 

    .connect .card__body{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .call__left{
        display: none;
    }

    .call__right{
        width: 100%;
    }

    .call__title{
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        padding: 0 15px;
    }

    .call__text {
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 64px;
        padding: 0 40px;
    }

    /* Footer */

    .footer{
        display: flex;
        flex-direction: column-reverse;
        gap: 48px;
        padding: 63px 22px;
    }

    .footer__container{
        flex-direction: column-reverse;
        row-gap: 22px;
        
    }

    .footer__text{
        display: none;
    }

    .footer__link {
        display: inline-flex;
        height: 40px;
        margin-bottom: 0px;
    }

    .socila-networks {
        margin-top: 24px;

    }

    .form{
        width: 100%; 
        margin-top:0;
    }

    .form h3{
        font-size: 14px;
        line-height: 21px;
        text-align: start;

    }

    .form .form__content input{
        height: 36px;
    }

    .form .form__content input{
        height: 36px;
    }

    .form .form__content .footer__btn {
        height: 36px;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
    }

    .footer__right{
        gap: 25px;
    }

    .footer .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    .footer__right{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 30px;
    }

    .form .form__content input::placeholder{
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
    }
  
 }








