:root{
    /* colors */
    --colorGreen:#09B451;
    --colorWhite:#ffffff;
    --colorGray:#404040;
    --colorGray66:#666666;
    --colorLightBlue:#E4FFFF;
    --colorBlack33:#333333;


    /* --Fonts */

    --fontPoppins:"Poppins", sans-serif;


}